<div class="l-navbar" id="nav-bar">
  <nav class="nav">
    <div>
      <div class="nav_list">
        <a
          *ngFor="let category of categories; let i = index"
          data-toggle="tooltip"
          data-placement="right"
          title="{{ category.description }}"
          [routerLink]="['/product/category', category.categoryEnum]"
          class="nav_link"
          (click)="redirect(category.categoryEnum)"
        >
          <img src="../../../../../assets/icons/{{ category.description }}.svg" alt="icon-{{ category.description }}" class="nav_icon">
        </a>
      </div>
    </div>
  </nav>
</div>
