<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <button mat-icon-button routerLink="/categories" *ngIf="home === '/'">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
    <button mat-icon-button routerLink="" *ngIf="home === '/categories'">
      <mat-icon class="mat-18">close</mat-icon>
    </button>
    <a class="navbar-brand" routerLink="">
      <img src="../../assets/logo/logo.svg" alt="logo-site" />
    </a>

    <span class="spacer"></span>

    <div class="search-box">
      <button mat-fab class="btn-search">
        <mat-icon class="mat-18">search</mat-icon>
      </button>
      <input type="text" class="input-search" placeholder="Type to search...">
    </div>

    <span class="spacer"></span>

    <button *ngIf="!employee && sessionId.length != 11" class="btn-icon" mat-icon-button [matMenuTriggerFor]="menu"><mat-icon class="mat-18 user-icon">account_circle</mat-icon> <mat-icon class="mat-18">arrow_drop_down</mat-icon></button>
    <button *ngIf="!employee && sessionId.length == 11" class="btn-icon" mat-fab [matMenuTriggerFor]="menu"><img class="user-icon img-icon" src="../../../assets/images/profile/selfie-perfeita.jpg" alt=""></button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/user/auth" *ngIf="sessionId.length != 11">Sign In | Sign Up</button>
      <button mat-menu-item routerLink="/user/profile" *ngIf="sessionId.length == 11">Profile</button>
      <button mat-menu-item (click)="loggOut()" *ngIf="sessionId.length == 11">Sign Out</button>
    </mat-menu>
  </div>
  <button mat-icon-button class="content-cart" routerLink="/cart" *ngIf="total != null && !employee">
    <span class="cart-basket">{{ total }}</span>
    <mat-icon class="mat-18 cart">shopping_cart</mat-icon>
  </button>
</nav>
