<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a
      class="btn btn-lg icon-menu"
      routerLink="/categories"
      *ngIf="home === '/'"
    >
      <i class="bi bi-list menu"></i>
    </a>
    <a
      class="btn btn-lg icon-menu"
      routerLink=""
      *ngIf="home === '/categories'"
    >
      <i class="bi bi-x menu"></i>
    </a>
    <a class="navbar-brand" routerLink="">
      <img src="../../assets/logo/logo.svg" alt="logo-site" />
    </a>

    <span class="spacer"></span>

    <div
      class="p-1 bg-light rounded rounded-pill shadow-sm mb-4"
      style="width: 30rem; background-color: #1b1b1d"
    >
      <div class="input-group" style="background-color: #1b1b1d">
        <input
          type="search"
          placeholder="What're you searching for?"
          aria-describedby="button-addon1"
          class="form-control border-0 bg-light"
          style="background: #1b1b1d !important"
        />
        <div class="input-group-append">
          <button
            id="button-addon1"
            type="submit"
            class="btn btn-link text-primary"
          >
            <i class="bi bi-search"></i>
          </button>
        </div>
      </div>
    </div>

    <span class="spacer"></span>

    <div class="dropdown">
      <a
        class="nav-link dropdown-toggle account"
        id="navbarDropdownMenuLink"
        aria-haspopup="true"
        data-toggle="dropdown"
        aria-expanded="false"
      >
        Your account
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item">Sign In</a>
        <a class="dropdown-item">Sign Up</a>
        <a class="dropdown-item">Employee Area</a>
      </ul>
    </div>
  </div>
  <a class="content-cart" routerLink="/cart">
    <i class="bi bi-cart-fill cart"></i>
    <span class="cart-basket">0</span>
  </a>
</nav>
