<div class="payment-method" *ngIf="method == 0">
  <span class="payment">Payment Method</span>
  <button mat-stroked-button class="method" (click)="payment(1)">
    <mat-icon class="mat-18">
      credit_card
    </mat-icon>
    <div class="method_name">
      Credit Card
    </div>
  </button>
  <button mat-stroked-button class="method">
    <mat-icon class="mat-18">
      payments
    </mat-icon>
    <div class="method_name">
      Billet
    </div>
  </button>
  <button mat-stroked-button class="method">
    <mat-icon class="mat-18">
      qr_code
    </mat-icon>
    <div class="method_name">
      PIX
    </div>
  </button>
</div>

<app-card *ngIf="method == 1"></app-card>
