section {
  height: calc(100vh - 10rem);
  margin-top: 2rem;
}

h2 {
  color: #fff;
  font-size: 2rem;
}

.container {
  height: 100%;
}

.path {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 1rem;
}

.path p {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.path .active {
  color: #FF6600;
}

.navigate {
  margin: 0;
}

.content {
  width: 100%;
  height: 65%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 30px;
  justify-content: center;
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #202022;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  color: #fff;
}

.card-new {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 2px dashed #fff;
}

.card-new span {
  margin: 0;
  font-size: 1.5rem;
}

mat-icon {
  align-self: center;
  margin: 15px 0;
}

.name {
  margin-top: 15px;
  font-weight: 600;
}

span {
  margin-left: 20px;
}

mat-divider {
  border-top-color: rgba(255,255,255,.12);
}
