<form method="POST" [formGroup]="form" (ngSubmit)="signUp()">
  <h2>Sign Up</h2>
  <div class="input-group-signUp">
    <mat-form-field appearance="legacy">
      <mat-label>CPF</mat-label>
      <input matInput type="text" name="cpf" formControlName="cpf">
    </mat-form-field>
    <div class="text-danger" *ngIf="getControl.cpf.touched && getControl.cpf.invalid">
      <div *ngIf="getControl.cpf.errors.required">Cpf is required</div>
      <div *ngIf="getControl.cpf.errors?.length">Email seems invalid</div>
    </div>
  </div>

  <div class="input-group-signUp">
    <mat-form-field appearance="legacy">
      <mat-label>Full Name</mat-label>
      <input matInput type="text" name="fullName" formControlName="fullName">
    </mat-form-field>
    <div class="text-danger" *ngIf="getControl.fullName.touched && getControl.fullName.invalid">
      <div *ngIf="getControl.fullName.errors.required">Full name is required</div>
    </div>
  </div>

  <div class="input-group-signUp phone-email">
    <div class="phone">
      <mat-form-field appearance="legacy">
        <mat-label>Phone</mat-label>
        <input matInput type="text" name="phone" formControlName="phone">
      </mat-form-field>
      <div class="text-danger" *ngIf="getControl.phone.touched && getControl.phone.invalid">
        <div *ngIf="getControl.phone.errors.required">Phone is required</div>
      </div>
    </div>

    <div class="email">
      <mat-form-field appearance="legacy">
        <mat-label>Email</mat-label>
        <input matInput type="text" name="email" formControlName="email">
      </mat-form-field>
      <div class="text-danger" *ngIf="getControl.email.touched && getControl.email.invalid">
        <div *ngIf="getControl.email.errors.required">Email is required</div>
        <div *ngIf="getControl.email.errors.email">Email seems invalid</div>
      </div>
    </div>
  </div>

  <div class="input-group-signUp">
    <mat-form-field appearance="legacy">
      <mat-label>Birth Date</mat-label>
      <input matInput type="date" name="birthDate" formControlName="birthDate">
    </mat-form-field>
    <div class="text-danger" *ngIf="getControl.birthDate.touched && getControl.birthDate.invalid">
      <div *ngIf="getControl.birthDate.errors.required">Birth Date is required</div>
    </div>
  </div>

  <div class="input-group-signUp">
    <mat-form-field appearance="legacy">
      <mat-label>Password</mat-label>
      <input matInput type="password" name="password" formControlName="password">
    </mat-form-field>
    <div class="text-danger" *ngIf="getControl.password.touched && getControl.password.invalid">
      <div *ngIf="getControl.password.errors.required">Password is required</div>
    </div>
  </div>

  <button type="submit" class="submit-btn" mat-button [disabled]="form.invalid">Sign Up</button>
</form>
