form {
  width: 100%;
}

form h2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #fff;
}

mat-form-field {
  width: 100%;
  color: #fff;
}

.input-group {
  position: relative;
  margin-bottom: 2rem;
}

.input-group input {
  width: 100%;
  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.input-group mat-label {
  pointer-events:  none;
  color: #fff;
}

.input-group input:focus + label,
.input-group input:valid + label {
  transform: translateY(-20px);
  color: #ff652f;
  font-size: .8rem;
}

mat-icon {
  margin-right: 5px;
  height: 19px;
  width: 19px;
  font-size: 1rem;
}

.mat-form-field-underline {
  background-color: #fff !important;
}

.submit-btn {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
