@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.credit-card {
  position: relative;
  width: 100%;
  height: 200px;
  transform-style: preserve-3d;
  perspective: 500px;
  margin-bottom: 2rem;
}

.credit-card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 15px 35px rgba(0,0,0,.5);
  border-radius: 15px;
  background: rgba(255,255,255,.05);
  backdrop-filter: blur(10px);
}

.credit-card .face .credit {
  position: absolute;
  left: 25px;
  top: 5px;
  color: #fff;
  font-weight: 500;
}

.credit-card .face .chip {
  position: absolute;
  left: 25px;
  top: 30px;
  max-width: 40px;
}

.credit-card .face .number {
  position: absolute;
  left: 25px;
  bottom: 75px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 11px;
  text-shadow: 0 2px 1px #0005;
  font-family: 'Orbitron', sans-serif;
}

.credit-card .face .valid {
  position: absolute;
  left: 25px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  line-height: 1em;
  text-align: right;
  font-size: 7px;
}

.credit-card .face .valid span:last-child {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
}

.credit-card .face .cvv {
  position: absolute;
  left: 150px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 300;
  line-height: 1em;
  text-align: right;
  font-size: 7px;
}

.credit-card .face .cvv span:last-child {
  margin-left: 10px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
}

.credit-card .face .cardHolder {
  position: absolute;
  left: 25px;
  bottom: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 2px;
}

.credit-card .face .flag {
  position: absolute;
  right: 8px;
  bottom: 8px;
  max-width: 60px;
}
