<div class="product">
  <span *ngIf="products.length == 0">You cart is empty</span>
  <div class="box" *ngFor="let product of products">
    <div class="image">
      <img src="../../../../assets/images/{{ product.image }}" alt="">
    </div>
    <span class="name">{{ product.name }}</span>

    <span class="spacer"></span>

    <div class="amount">
      <span class="next" (click)="addProducts(product.productId)"></span>
      <span class="prev" (click)="deleteProducts(product.productId)"></span>
      <div id="box">
        <span>{{ product.amount }}</span>
      </div>
    </div>

    <span class="spacer"></span>

    <span class="price">{{ product.price | currency: 'BRL' }}</span>
    <i class="bi bi-x"></i>
  </div>
</div>
<hr>
