@import "~swiper/css";
@import "~swiper/css/pagination";
@import '../address.component.scss';

.show-addresses .image-google {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.show-addresses .show-address {
  width: 100%;
  height: 100%;
}

.show-addresses .show-address h2 {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #fff;
}

.show-addresses .swiper {
  width: 100%;
  height: 100%;
}

.show-addresses .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  display: block;
}

.show-addresses .ng-template {
  display: flex;
  flex-direction: column;
}

.show-addresses .swiper-pagination {
  bottom: unset !important;
  top: 210px;
}

.show-addresses .swiper-pagination-bullet {
  background: #e9ecef;
}
