form {
  width: 100%;
  height: 100%;
}

form h2 {
  font-size: 2rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #fff;
}

mat-form-field {
  width: 100%;
  color: #fff;
}

.image-google {
  width: 100%;
  margin-bottom: 1rem;
}

.image-google img {
  width: 100%;
}

.input-group {
  position: relative;
  margin-bottom: 1.3rem;
}

.input-group input {
  width: 100%;
  font-size: 1rem;
  letter-spacing: 1px;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
}

.input-group mat-label {
  pointer-events:  none;
  color: #fff;
}

mat-icon {
  margin-right: 5px;
  height: 19px;
  width: 19px;
  font-size: 1rem;
}

.mat-form-field-underline {
  background-color: #fff !important;
}

.submit-btn {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.street-number {
  display: flex;
  flex-direction: row;
}

.street-number .street {
  margin-right: 10px;
}

.street-number .street input,
.street-number .street .mat-form-field-underline {
  width: 90%;
}

.street-number .number input,
.street-number .number .mat-form-field-underline {
  width: 90%;
}

.button {
  display: flex;
  flex-direction: row;
}

.continue {
  margin-left: 10px;
}

.your-address {
  background-color: transparent;
  border: 1px solid rgba(255,255,255,.2);
}
