<section>
  <div class="confirmed">
    <h2><mat-icon class="mat-18">done</mat-icon> Thank you for your purchase</h2>
  </div>
  <div class="container" *ngIf="preview">
    <div class="products">
      <div *ngFor="let item of preview.itens; let i = index" class="product product-{{i+1}}">

        <div class="image">
          <img src="../../../../assets/images/{{item.image}}" alt="">
        </div>
        <span class="item-name">{{item.name}}</span>
        <span class="item-amount">Amount: {{item.amount}}</span>
        <span class="item-price">{{item.price | currency: 'BRL'}}</span>

      </div>
    </div>
    <div class="details">
      <div class="shipping">
        <span class="title">Shipping Information</span>
        <span class="clientName"><mat-icon class="mat-18">person</mat-icon> {{preview.fullName}}</span>
        <span class="address"><mat-icon class="mat-18">location_on</mat-icon> {{preview.street}}, {{preview.number}} - {{preview.cep}} | {{preview.city}} - {{preview.state}}</span>
        <span class="phone"><mat-icon class="mat-18">call</mat-icon> {{preview.phone}}</span>
      </div>
      <div class="payment">
        <span class="title">Payment</span>
        <span *ngIf="preview.numberCard"><mat-icon class="mat-18">credit_card</mat-icon> Credit card {{preview.numberCard}}</span>
        <span *ngIf="preview.pix"><mat-icon class="mat-18">credit_card</mat-icon> PIX</span>
        <span *ngIf="preview.code"><mat-icon class="mat-18">credit_card</mat-icon> Billet</span>
      </div>
      <div *ngIf="preview.pix" class="pix">
        <ngx-qrcode [elementType]="elementType" [width]="width" [errorCorrectionLevel]="correctionLevel" [value]="value" cssClass="bshadow"></ngx-qrcode>
        <p>{{preview.pix}}</p>
      </div>

      <div *ngIf="preview.code" class="billet">
        <ngx-barcode [bc-value]="preview.code" [bc-display-value]="true" [bc-width]="1.5" [bc-background]=""></ngx-barcode>
      </div>

      <div class="total">
        <span>Value total: {{total.totalPrice | currency: 'BRL'}}</span>
      </div>
    </div>
  </div>
</section>
