@import '../preview/preview.component.scss';

section {
  height: calc(100vh - 9rem);
}

.confirmed {
  display: flex;
  justify-content: center;
}

.pix {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.pix p {
  margin-top: 20px;
}

ngx-qrcode {
  height: 80%;
}

.bshadow {
  height: 100%;
}

.bshadow img {
  height: 100%;
}

.billet {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

ngx-barcode {
  width: 100%;
}

.barcode {
  width: 100%;
}

.barcode svg {
  width: 100%;
}

.bshadow {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(5px 5px 5px #222222);
}

.mat-18 {
  font-size: 24px;
}
