<section>
  <div class="container">
    <div class="image">
      <img src="../../../../../assets/images/profile/selfie-perfeita.jpg" alt="selfie">
    </div>
  </div>

    <div class="content">
      <div class="card" routerLink="/bought/order-history">
        <mat-icon class="mat-18 icon material-icons-outlined">shopping_bag</mat-icon>
        <span class="actions">Your orders</span>
      </div>
      <div class="card" routerLink="/user/addresses">
        <mat-icon class="mat-18 icon material-icons-outlined">place</mat-icon>
        <span class="actions">Your addresses</span>
      </div>
      <div class="card" routerLink="/user/credit-cards">
        <mat-icon class="mat-18 icon material-icons-outlined">credit_card</mat-icon>
        <span class="actions">Your cards</span>
      </div>
    </div>
</section>
