.mat-drawer-container {
  height: 100vh;
  background-color: #28282B!important;
}

.mat-drawer-content {
  height: 100%;
}

.mat-drawer {
  padding: 20px 0;
  width: 11% !important;
  background-color: #28282B!important;
  border-left-color: rgba(255, 255, 255, .2) !important;
}
