<section class="section">
  <div class="container-carousel">
    <swiper
      [spaceBetween]="30"
      [centeredSlides]="true"
      [autoplay]="{
        delay: 6000,
        disableOnInteraction: false
      }"
      [pagination]="{
        clickable: true
      }"
      [navigation]="true"
      class="mySwiper best-selling"
    >
      <ng-template swiperSlide *ngFor="let product of products; let i = index">
        <div class="background-category">{{ product.category.description }}</div>
        <span class="name-carousel">{{ product.name }}</span>
        <span class="price-carousel">{{ product.price | currency: "BRL" }}</span>
        <div class="button-carousel">
          <button mat-button class="btn-carousel" routerLink="/product/{{ product.productId }}">
            More details
          </button>
          <button mat-button class="btn-carousel add-carousel" (click)="addProduct(product.productId)">
            Add to cart
          </button>
        </div>

        <img class="image-carousel" src="../../../../assets/images/{{ product.image }}" alt=""/>
        </ng-template>
    </swiper>
  </div>
</section>


