@import "~swiper/css";
@import "~swiper/css/pagination";
@import '../card.component.scss';

.show-credit-card .show-card {
  width: 100%;
  height: 100%;
}

.show-credit-card .credit-card {
  width: 100%;
  margin-bottom: 4rem;
}

.show-credit-card .credit-card .face .flag {
  max-width: 45px;
}

.show-credit-card .show-card h2 {
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #fff;
}

.show-credit-card .swiper {
  width: 100%;
  height: 100%;
}

.show-credit-card .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  display: block;
}

.show-credit-card .ng-template {
  display: flex;
  flex-direction: column;
}

.show-credit-card .swiper-pagination {
  bottom: unset !important;
  top: 280px;
}

.show-credit-card .swiper-pagination-bullet {
  background: #e9ecef;
}
