<form method="POST" [formGroup]="form" (ngSubmit)="addCard()">
  <h2>New Card</h2>

  <div class="credit-card">
    <div class="face">
      <h3 class="credit">Credit Card</h3>
      <img src="../../../../assets/icons/chip.png" alt="" class="chip">
      <h3 class="number">{{creditCardNumber()}}</h3>
      <h5 class="valid"><span>Valid<br>thru</span><span>{{valid()}}</span></h5>
      <h5 class="cvv"><span>Security<br>Code</span><span>{{securityCode()}}</span></h5>
      <h5 class="cardHolder">{{cardHolder()}}</h5>
      <img *ngIf="validate() != ''" src="../../../../assets/icons/{{ validate() }}.svg" alt="" class="flag">
    </div>
  </div>

  <div class="input-group">
    <mat-form-field appearance="legacy">
      <mat-label>Card Number</mat-label>
      <input matInput type="text" name="cardNumber" formControlName="cardNumber">
      <mat-error *ngIf="form.controls.cardNumber.invalid">{{carNumberError()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="input-group">
    <mat-form-field appearance="legacy">
      <mat-label>Name</mat-label>
      <input matInput type="text" name="name" formControlName="name">
      <mat-error *ngIf="form.controls.name.invalid">{{nameError()}}</mat-error>
    </mat-form-field>
  </div>

  <div class="shelfLife-cvv">
    <div class="input-group shelfLife">
      <mat-form-field appearance="legacy">
        <mat-label>Shelf Life</mat-label>
        <input matInput type="text" name="shelfLife" formControlName="shelfLife">
        <mat-error *ngIf="form.controls.shelfLife.invalid">{{shelfLifeError()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="input-group cvv">
      <mat-form-field appearance="legacy">
        <mat-label>Cvv</mat-label>
        <input matInput type="text" name="cvv" formControlName="cvv">
        <mat-error *ngIf="form.controls.cvv.invalid">{{cvvError()}}</mat-error>
      </mat-form-field>
    </div>
  </div>


  <div class="button">
    <button type="submit" class="submit-btn continue" mat-button [disabled]="form.invalid">Continue</button>
  </div>
</form>
