<section>
  <div class="container" *ngIf="total">
    <div class="row">
      <div class="col-8 content-1">
        <span class="title">Shopping Cart</span>
        <div class="products">
          <app-products-cart></app-products-cart>
        </div>
        <span class="subtotal"
          >Subtotal ({{ total.totalAmount }})
          {{ total.totalPrice | currency: "BRL" }}</span
        >
      </div>

      <div class="col-3 content-2">
        <mat-stepper linear #stepper>
          <mat-step state="confirm" completed="false">
            <div class="confirm">
              <span>Summary</span>

              <div class="summary-product" *ngFor="let product of products">
                <span class="name">{{ product.name }}</span>

                <span class="spacer"></span>

                <span class="amount">{{ product.amount }}x</span>
                <span class="price">{{ product.price | currency: "BRL" }}</span>
              </div>

              <span class="priceTotal">Total {{ total.totalPrice | currency: "BRL" }}</span>

              <div class="lognIn" *ngIf="logged.length != 11">
                <span>You aren't logged in</span>

                <div class="button">
                  <button class="btn-1" mat-raised-button routerLink="/user/auth">Sign In</button>
                  <button class="btn-2" mat-raised-button>Sign Up</button>
                </div>
              </div>

              <div class="button-continue" *ngIf="logged.length == 11">
                <button class="btn-3" mat-raised-button (click)="nextClicked()">Continue</button>
              </div>
            </div>

          </mat-step>

          <mat-step state="address" *ngIf="logged.length == 11" completed="false">
            <app-address *ngIf="address"></app-address>
            <button (click)="newAddress()" *ngIf="address" class="your-address" mat-button>See your addresses</button>
            <app-show-address *ngIf="!address"></app-show-address>

            <div class="back-1" *ngIf="address">
              <button mat-icon-button matStepperPrevious class="btn-icon"><mat-icon class="mat-18">arrow_back</mat-icon></button>
            </div>
            <div class="back"  *ngIf="!address">
              <mat-icon class="mat-18" (click)="newAddress()">arrow_back</mat-icon>
            </div>
          </mat-step>

          <mat-step state="credit-card" *ngIf="logged.length == 11">

            <app-payment *ngIf="paymentMethod === 0" (paymentType)="payment($event)"></app-payment>
            <app-card *ngIf="paymentMethod == paymentEnum.creditCard && card"></app-card>
            <button (click)="newCard()" *ngIf="paymentMethod == paymentEnum.creditCard && card" class="submit-btn your-address" mat-button>See your Cards</button>

            <app-show-card *ngIf="!card"></app-show-card>

            <div class="back" *ngIf="!card">
              <mat-icon class="mat-18" (click)="newCard()">arrow_back</mat-icon>
            </div>

            <div class="back" *ngIf="paymentMethod == paymentEnum.creditCard && card">
              <button mat-button matStepperPrevious><mat-icon class="mat-18">arrow_back</mat-icon></button>
            </div>

            <div class="back" *ngIf="paymentMethod == 0">
              <button mat-button matStepperPrevious><mat-icon class="mat-18">arrow_back</mat-icon></button>
            </div>

          </mat-step>

          <ng-template matStepperIcon="confirm">
            <mat-icon>done</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="address">
            <mat-icon>location_on</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="credit-card">
            <mat-icon>credit_card</mat-icon>
          </ng-template>
        </mat-stepper>
      </div>
    </div>
  </div>
</section>
