section {
  color: #fff;
  height: calc(100vh - 8rem);
  display: flex;
  justify-content: center;
}

mat-stepper {
  background-color: transparent;
  .mat-step-header .mat-step-label,
  .mat-step header .mat-step-optional {
    color: #fff;
  }
  .mat-step-header .mat-step-label.mat-step-label-active {
    color: #fff !important;
  }
}


.container {
  max-width: 90%;
  height: 90%;
  margin: 0;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.content-2 {
  background: #19191b;
}

.content-1 {
  display: flex;
  margin: 30px 112px 0px 0px;
  flex-direction: column;
  height: 90%;
}

.title {
  font-size: 2rem;
}

.row {
  justify-content: center;
  height: 100%;
}

.products {
  margin-top: 40px;
  height: 90%;
}

.subtotal {
  font-size: 1.3rem;
  font-weight: 300;
  align-self: flex-end;
}
