<section>
  <div class="container" *ngIf="total">
    <div class="row">
      <div class="col-8 content-1">
        <span class="title">Shopping Cart</span>
        <div class="products">
          <app-products-cart></app-products-cart>
        </div>
        <span class="subtotal"
          >Subtotal ({{ total.totalAmount }})
          {{ total.totalPrice | currency: "BRL" }}</span
        >
      </div>

      <div class="col-3 content-2">
        <mat-stepper linear #stepper>
          <mat-step state="confirm">
            <div class="confirm">
              <span>Summary</span>

              <div class="summary-product" *ngFor="let product of products">
                <span class="name">{{ product.name }}</span>

                <span class="spacer"></span>

                <span class="amount">{{ product.amount }}x</span>
                <span class="price">{{ product.price | currency: "BRL" }}</span>
              </div>

              <span class="priceTotal">Total {{ total.totalPrice | currency: "BRL" }}</span>

              <div class="lognIn" *ngIf="logged.length != 11">
                <span>You aren't logged in</span>

                <div class="button">
                  <button class="btn-1" mat-raised-button routerLink="/user/auth">Sign In</button>
                  <button class="btn-2" mat-raised-button>Sign Up</button>
                </div>
              </div>
            </div>

          </mat-step>

          <mat-step state="address">
            <app-address></app-address>
          </mat-step>

          <mat-step state="credit-card">
            <app-payment></app-payment>
          </mat-step>

          <ng-template matStepperIcon="confirm">
            <mat-icon>done</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="address">
            <mat-icon>location_on</mat-icon>
          </ng-template>
          <ng-template matStepperIcon="credit-card">
            <mat-icon>credit_card</mat-icon>
          </ng-template>
        </mat-stepper>
      </div>
    </div>
  </div>
</section>
