.status-bought {
  min-height: calc(100vh - 8rem);
  display: flex;
}

.status-bought h2 {
  color: #fff;
  font-size: 2rem;
}

.status-bought .path {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 14px;
  font-weight: 300;
  color: #fff;
  margin-bottom: 1rem;
}

.status-bought .path p {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.status-bought .path .active {
  cursor: unset;
  color: #FF6600;
}

.status-bought .content {
  padding: 50px;
  height: 700px;
}

.status-bought .card {
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.479);
}

.status-bought .details,
.status-bought .products {
  display: flex;
  flex-direction: row;
}

.status-bought .details {
  margin: 30px 0;
  padding-left: 30px;
  height: 10%;
}

.status-bought .items {
  overflow-y: auto;
  margin: 20px 0;
  height: 80%;
  padding-left: 30px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  border: none;
}

::-webkit-scrollbar-thumb {
  background: #fe7f2d;
  border-radius: 25px;
}

.status-bought .products {
  height: 45%;
  align-items: center;
  justify-content: space-between;
}

.status-bought .date,
.status-bought .total,
.status-bought .shipping,
.status-bought .order {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}

.column-1 {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  align-items: center;
}

.status-bought .image {
  width: 45%;
  height: 60%;
}

.status-bought .image img {
  height: 100%;
}

.status-bought .total-amount {
  margin-right: 10rem;
}

.status-bought .spacer {
  flex: 1 1 auto;
}

.status-bought .confirm {
  margin-right: 1rem;
}

.status-bought mat-divider {
  border-top-color: rgba(255, 255, 255, 0.253);
}

.status-bought .title {
  color: rgba(255, 255, 255, 0.747);
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.status-bought .status {
  color: rgba(255, 255, 255, 0.747);
  font-size: 20px;
  font-weight: 500;
}

.status-bought .info {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.747);
  font-weight: 500;
}

.status-bought .action {
  margin-right: 2rem;
}

.status-bought .action .rate-action {
  background-color: #FF6600;
  color: #fff;
  font-weight: 400;
  padding: 8px;
}

