<section>
  <div class="container">
    <div class="path">
      <p routerLink="/user/employeer/profile">Employee profile</p>
      <mat-icon class="mat-18 navigate">navigate_next</mat-icon>
      <p routerLink="/bought/all-orders">All orders</p>
      <mat-icon class="mat-18 navigate">navigate_next</mat-icon>
      <p class="active">{{ status(id) }}</p>

      <span class="spacer"></span>

      <mat-form-field appearance="fill">
        <mat-label>Filter</mat-label>
        <mat-select>
          <mat-option *ngFor="let status of statusBought; let i = index" routerLink="/bought/all-orders/{{ i + 1 }}" value="{{status}}">{{ status }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <h2>{{ status(id) }} Orders</h2>
    <div class="content" *ngFor="let bought of orders">
      <div class="card">
        <div class="details">
          <div class="date">
            <span class="title">Pedido realizado</span>
            <span>{{ bought.dateBought | date: "MMMM dd, y"}}</span>
          </div>
          <div class="total">
            <span class="title">Total</span>
            <span>{{ bought.totalPrice | currency: 'BRL' }}</span>
          </div>
          <div class="shipping">
            <span class="title">Send to</span>
            <span>{{ bought.clientName }}</span>
          </div>

          <span class="spacer"></span>

          <div class="order">
            <span class="title">Order nº {{ bought.boughtId }}</span>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="items">
          <span class="status">{{ status(bought.statusId) }}</span>
          <div class="products" *ngFor="let item of bought.itens">
            <div class="image">
              <img src="../../../../assets/images/{{ item.image }}" alt="">
            </div>
            <span class="info">{{ item.productName }}</span>
            <span class="info">{{ item.amount }}</span>
          </div>
      </div>

      </div>
    </div>
  </div>
</section>
